@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
            

body {
    font-family: "SF Pro Display", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    min-width: 335px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    letter-spacing: 0.05em;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
