<!-- toggle 月份/年份切換 -->
<header>
    <div class="container">
      <div class="d-flex align-items-center pt-6">
        <p class="fs-7 text-gray-500 my-auto">首頁</p>
        <div class="d-flex justify-content-center align-items-center mx-auto">
          <input type="checkbox" id="toggle" class="toggleCheckbox">
          <label for="toggle" class='toggleContainer'>
            <div class="fs-7">月份</div>   
            <div class="fs-7">年份</div>
          </label>
        </div>
      </div>
    </div>
</header>