<!-- toggle 月份/年份切換 -->
<header>
    <!-- <div class="container">
      <div class="d-flex align-items-center pt-6">
        <p class="fs-7 text-gray-500 my-auto">首頁</p>
        <div class="d-flex justify-content-center align-items-center mx-auto">
          <input type="checkbox" id="toggle" class="toggleCheckbox">
          <label for="toggle" class="toggleContainer" role="tabpanel">
            <div type="button" class="fs-7 active" data-bs-target="#change-month" id="month-tab" role="tab" aria-controls="change-month">月份</div>   
            <div type="button" class="fs-7 active" data-bs-target="#change-year" id="year-tab" role="tab" aria-controls="change-year">年份</div>
          </label>
        </div>
      </div>
    </div> -->



    <!-- 先隱藏 -->

    <div class="container">
      <div class="d-flex align-items-center pt-6">
        <p class="fs-5 text-gray-500 my-auto">首頁</p>
        <ul class="nav nav-tabs border-0 justify-content-center mx-auto bg-white rounded-pill" id="myTab" role="tablist">
          <li role="presentation" class="py-1 px-1 rounded-pill">
            <button class="nav-link active border-0 bg-primary text-white rounded-pill fs-7 fw-bold" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab" aria-selected="true">月份</button>
          </li>
          <li role="presentation" class="py-1 px-1">
            <button class="nav-link text-dark fs-7 fw-bold border-0" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab" aria-selected="false">年份</button>
          </li>
        </ul>
      </div>
    </div>





    <!-- <div class="container">
      <div class="d-flex align-items-center pt-6">
        <p class="fs-5 text-gray-500 my-auto">首頁</p>
        <ul class="nav nav-tabs border-0 justify-content-center mx-auto bg-white rounded-pill" id="myTab" role="tablist">
          <li role="presentation" class="py-1 px-1 rounded-pill nav-item">
            <button class="nav-link active border-0 bg-primary text-white rounded-pill fs-7 fw-bold" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">月份</button>
          </li>
          <li role="presentation" class="py-1 px-1 nav-item">
            <button class="nav-link text-dark fs-7 fw-bold border-0" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">年份</button>
          </li>
        </ul>
      </div>
    </div> -->
    <!-- 分頁內容 -->
    <!-- <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, harum esse facere doloribus voluptas excepturi veniam quam fugit corrupti cum quaerat nulla aut at mollitia inventore officia unde sit eos.</div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">Lorem ipsum dolor</div>
    </div> -->
</header>