<!-- toggle 月份/年份切換 -->
<header>
    <div class="container">
      <div class="d-flex align-items-center pt-6">
        <p class="fs-5 text-gray-500 my-auto">首頁</p>
        <ul class="nav nav-tabs border-0 justify-content-center mx-auto bg-white rounded-pill" id="myTab" role="tablist">
          <li role="presentation" class="py-1 px-1 rounded-pill">
            <button class="nav-link active border-0 bg-primary text-white rounded-pill fs-7 fw-bold" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab" aria-selected="true">月份</button>
          </li>
          <li role="presentation" class="py-1 px-1">
            <button class="nav-link text-dark fs-7 fw-bold border-0" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab" aria-selected="false">年份</button>
          </li>
        </ul>
      </div>
    </div>
</header>