.form-check-input {
    width: 27px;
    height: 27px;
}

.calendar-2 {
    background-color: $primary-extra-light;
}
.calendar-3 {
    max-width: 335px;
}
// .calendar-4 {
//     justify-content: start;
// }
.check {
    width: 100%;
}