.form-check-input {
    width: 22px;
    height: 22px;
    border-color: #6D6D6D;
}

.calendar-2 {
    background-color: $primary-extra-light;
    min-width: 350px;
}
// .calendar-3 {
//     max-width: 335px;
// }
.check {
    width: 100%;
}