<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body class="position-relative">
    <%- include('./layout/header'); -%>
    <!-- 年 -->
    <div class="week border-bottom border-white">
      <div class="container">
          <div class="d-flex justify-content-around mt-6">
            <li class="fs-5 text-gray-500">2025</li>
          </div>
      </div>
    </div>
    <!-- 月曆 -->
    <style>
      .year {
        max-width: 100%;
      }
      /* .month {
        max-width: 100%;
      } */
    </style>
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="year row mt-5">
          <div class="col-4">
            <img class="month" src="../assets/images/month01.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month02.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month03.svg" alt="">
          </div>  
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="year row mt-5">
          <div class="col-4">
            <img class="month" src="../assets/images/month04.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month05.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month06.svg" alt="">
          </div>  
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="year row mt-5">
          <div class="col-4">
            <img class="month" src="../assets/images/month07.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month08.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month09.svg" alt="">
          </div>  
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="year row mt-5">
          <div class="col-4">
            <img class="month" src="../assets/images/month10.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month11.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month12.svg" alt="">
          </div>  
        </div>
      </div>
      
      
    </div>

    <div class="week border-bottom border-white mt-6">
      <div class="container">
          <div class="d-flex justify-content-around mt-3">
            <li class="fs-5 text-gray-500">2026</li>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="year row mt-5">
          <div class="col-4">
            <img class="month" src="../assets/images/month01.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month02.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month03.svg" alt="">
          </div>  
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="year row mt-5">
          <div class="col-4">
            <img class="month" src="../assets/images/month04.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month05.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month06.svg" alt="">
          </div>  
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="year row mt-5">
          <div class="col-4">
            <img class="month" src="../assets/images/month07.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month08.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month09.svg" alt="">
          </div>  
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="year row mt-5">
          <div class="col-4">
            <img class="month" src="../assets/images/month10.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month11.svg" alt="">
          </div>
          <div class="col-4">
            <img class="month" src="../assets/images/month12.svg" alt="">
          </div>  
        </div>
      </div>
      
      
    </div>
    <!-- 置底按鈕 -->
     <!-- <div class="container position-fixed bottom-5 start-50 translate-middle-x">
      <div class="row">
        <div class="col text-center">
          <button class="btn btn-primary text-white rounded-4 fs-3">更改經期</button>
        </div>
      </div> -->
      
     </div>
     







    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    
    
    
  </body>
</html>
